<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>VLN Workspace</title>
    <link rel="icon" type="image/png" href="../static/images/fac.png"/>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/lightbox.css">
   
    <style>
      #btn-agnt
      {
        color: #FFF;
        font-weight: 500;
        font-family: 'Montserrat';
        font-size: 16px;
      }
      #btn-agnt:hover
      {
        border: 3px solid #f5a425;
      }
    </style>
  </head>

<body style="background-image: url(../static/images/choosing-bg.jpg);">

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="/fyp"><em>VLN</em> System</a>
      <a href="" style="position: fixed; right: 80px; font-size:13px; font-weight: 700; letter-spacing: 0.5px ;">Workspace</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>

  </header>



  <div class="container">
    <div class="row justify-content-center">
    
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                  <p><br><br><br><br></p>
                    <div class="carousel-item active" id="car"> <img src="../static/images/1.png" alt="Hills" style="height: 325px;"> </div>
                    <div class="carousel-item" id="car"> <img src="../static/images/2.png" alt="Hills" style="height: 325px;" > </div>
                    <div class="carousel-item" id="car"> <img src="../static/images/3.png" alt="Hills" style="height: 325px;"> </div>
                    <div class="carousel-item" id="car"> <img src="../static/images/4.png" alt="Hills" style="height: 325px;"> </div>
                    <div class="carousel-item" id="car"> <img src="../static/images/5.png" alt="Hills" style="height: 325px;"> </div>
                    <div class="carousel-item" id="car"> <img src="../static/images/6.png" alt="Hills" style="height: 325px;"> </div>
                    <div class="carousel-item" id="car"> <img src="../static/images/7.png" alt="Hills" style="height: 325px;"> </div>
                </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> 
            
                <ol class="carousel-indicators list-inline" >
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="1" data-target="#custCarousel">  </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="2" data-target="#custCarousel">  </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="4" data-target="#custCarousel">  </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="5" data-target="#custCarousel">  </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="6" data-target="#custCarousel">  </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="7" data-target="#custCarousel">  </a> </li>
                </ol>
        
            </div>
    </div>
  </div>


<div class="container">
  <div class="row justify-content-center">

  <ul class="pt-4">
     <li ><a href="/hello" class="px-3 py-2" id="btn-agnt">Navigate this environment </a>
      
    </li>
  </ul>
</div>
</div>
  



  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/lightbox.js"></script>
  <script src="../static/js/tabs.js"></script>
  <script src="../static/js/video.js"></script>
  <script src="../static/js/slick-slider.js"></script>
  <script src="../static/js/custom.js"></script>
  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;
       

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
        if($(e.target).hasClass('external')) {
          return;
        }
        e.preventDefault();
        $('#menu').removeClass('active');
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>

<footer style="position: absolute; bottom:0px; width: 100%;">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright justify-content-center"></i> Copyright 2021 by Ansh, Parth Kansara & Parth Meswani 
        
         | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">Fulfilled for Final Year Project</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>