* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';

}
body {
  /* font-family: Montserrat, Arial, sans-serif; */
  /* background-color: lightsteelblue; */
  background-color: rgba(22,34,57,0.95);
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  color: #f5a425;
  font-size: xx-large;
  text-decoration:ivory;
  text-align: center;
  font-weight: 900;
}
header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(15, 5, 63);  */
  /* background-image:url("../static/images/nlp.png"); */
 
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}
@keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #c7ecee;
  }

  100% {
    backgrouond-color: #fff;
  }
}
main.speaking {
  animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
#result {
  color: rgb(19, 219, 226);
  font-style: italic;
  text-align: center;
}
#result .final {
  color: #d7daf5;
  font-style: normal;
}
button {
  font-size: 18px;
  font-weight: 200;

  padding: 1em;
  width: 200px;
  background: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: white;
  margin-bottom: 4em;
}
button:hover,
button:focus {
  /* background: #f5a425; */
  border: 3px solid #f5a425;
  font-family: 'Montserrat';

}

a {
  color: #0d122b;
}
.error {
  color: #f22f46;
  text-align: center;
}
footer {
  border-top: 1px solid #0d122b;
  text-align: center;
}